<div class="m-5 mt-3">
    <h4>Suivi des quantites transférés</h4>
    <form [formGroup]="quantiteTransfereFormGroup">
        <div class="miniComp">
            <p>Validation des quanités transferé durant le shift</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" formControlName="valide">
                <label class="form-check-label" for="defaultCheck1">
                Validation
                </label>        
            </div>
            <br>
            <button class="btn btn-warning">Sauvegarder</button>
        </div>

        <div class="miniComp">
            <mat-form-field appearance="fill">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="miniComp">
            <mat-form-field class="inputGridItem" appearance="fill">
                <mat-label>Shift</mat-label>
                <mat-select formControlName="shift" required>
                    <mat-option>None</mat-option>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
   
        <div class="miniComp" formArrayName="options">
          <div><button class="btn btn-info" (click)="AddQuantite()">Add</button></div>
           <div *ngFor="let test of arrayOptions; let i = index" class="separate-input">
            <div [formGroupName]="i">
              <mat-form-field class="inputGridItem" appearance="fill">
                <mat-label>Unite</mat-label>
                <mat-select formControlName= "unite"  required>
                    <mat-option>None</mat-option>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="inputGridItem" appearance="fill">
              <mat-label>De</mat-label>
              <input matInput type="time" formControlName= "heureDebut">
            </mat-form-field>

            <mat-form-field class="inputGridItem" appearance="fill">
              <mat-label>A</mat-label>
              <input matInput type="time" formControlName= "heureFin">
            </mat-form-field>

            <mat-form-field class="inputGridItem" appearance="fill">
              <mat-label>Silo</mat-label>
              <mat-select required formControlName= "silo">
                  <mat-option>None</mat-option>
                  <mat-option value="option1">Option 1</mat-option>
                  <mat-option value="option2">Option 2</mat-option>
                  <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="inputGridItem" appearance="fill">
              <mat-label>Quantité</mat-label>
              <input matInput type="text" formControlName= "quantite">
            </mat-form-field>
              <fa-icon style="margin: 5px" [icon]="faTimesCircle"></fa-icon>
              <fa-icon style="margin: 5px" [icon]="faFileSignature"></fa-icon>
            </div>  
            
           </div>      
        </div>
        <button class="btn btn-primary" type="submit" (click)="onSubmit(quantiteTransfereFormGroup.value)">Add</button>
      </form>
</div>
